* {
  font-family: "Museo Sans Cyrl";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  position: relative;
  /* mobile viewport bug fix */
  height: 100%;
}

#root {
    height: inherit;
}

html {
  position: relative;
  height: 100%;
}

@font-face {
  font-family: "Museo Sans Cyrl";
  src: local("Museo Sans Cyrl 500"), local("MuseoSansCyrl-500"),
    url("fonts/Museosanscyrl500.woff2") format("woff2"),
    url("fonts/Museosanscyrl500.woff") format("woff"),
    url("fonts/Museosanscyrl500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
